.notifications {
  position: absolute;
  top: 0;
  right: 0;

  overflow-x: hidden;
}

.notification {
  margin: 1rem;
  border-inline-start: 3px solid var(--accent-color);
  border-block-end: 1px solid var(--border-color);
  padding-inline: 0.5rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  z-index: 100;

  animation: slidein 0.2s;
  animation-timing-function: ease;
}

.notification > p {
  margin: 0;
  font-size: 1rem;
  line-height: 2;
}

@keyframes slidein {
  from {
    transform: translate(100%, 0);
  }
}