main {
  width: 100%;
  padding: 0 1em;
}



main.player {
    width: 100svw;
    height: 100svh;
}

main.player > button {
    display: block;
    width: 5em;

    border-radius: 1rem;
    border: 2px solid var(--text-color);

    font-size: 1.5rem;
    line-height: 2;
    color: var(--text-color);
    background-color: transparent;

    cursor: pointer;
}

main.player > .open-info {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

main.player > .reset {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}


dialog.problem-info {
    border-radius: 1rem;
    border: 2px solid var(--text-color);
    padding: 0 1rem;

    color: var(--text-color);
    background-color: var(--bg-color);

    text-align: center;
}

dialog.problem-info::backdrop {
    background-color: var(--bg-color);
}

dialog.problem-info > * {
  margin: 1rem 0;
}

dialog.problem-info > .credit {
  display: inline-block;
  margin: 0;
  text-align: left;
}

dialog.problem-info > .record > button {
  display: inline-block;
  margin-inline-start: 1em;
  border: 2px solid var(--text-color);
  border-radius: 0.5em;
  padding: 0 0.5em;

  color: var(--text-color);
  background-color: var(--bg-color);

  font-size: 1rem;
  line-height: 2;

  cursor: pointer;
}


dialog.problem-info > nav {
    margin: 1em 0;
}

dialog.problem-info > nav > * {
  display: inline-block;
  margin: 0 0.5em;
  border: 2px solid var(--text-color);
  border-radius: 0.5em;
  padding: 0.5em 1em;

  color: var(--text-color);
  background-color: var(--bg-color);

  font-size: 1rem;
  line-height: 2;

  cursor: pointer;
}

dialog.problem-info > nav > a {
  border: unset;
}

dialog.problem-info > nav > button:disabled {
  background-color: var(--border-color);
}




dialog.result {
    border-radius: 1rem;
    border: 2px solid var(--text-color);

    color: var(--text-color);
    background-color: var(--bg-color);

    text-align: center;
}

dialog.result > button {
  display: inline-block;
  margin-inline-start: 1em;
  border: 2px solid var(--text-color);
  border-radius: 0.5em;
  padding: 0 0.5em;

  color: var(--text-color);
  background-color: var(--bg-color);

  font-size: 1rem;
  line-height: 2;

  cursor: pointer;
}



main.archives ol {
  padding: 0 1rem;
  text-align: center;
}

main.archives li {
  display: inline-block;
  list-style: none;
}

main.archives li button {
  border-radius: 1rem;
  border: 2px solid var(--text-color);
  padding: 1rem;
  width: 16em;

  color: var(--text-color);
  background-color: var(--bg-color);

  font-size: 1rem;  

  cursor: pointer;
}

main.archives li button > * {
  margin: 1rem 0;
}

main.archives li button:disabled {
  background-color: var(--border-color);
}
